<p id="notice"><%= notice %></p>

<h1>Characters</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Alignment</th>
    <th>Experience</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= character.alignment %></td>
        <td><%= character.experience %></td>
        <td><%= link_to 'Inspect', character %></td>
        <td><%= link_to 'Kill', character, method: :delete, data: {confirm: 'Are you sure you want to kill this character?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', root_path %> |
<%= link_to 'Create New Character', new_character_path %>

