<h1>Create New Character</h1>

<%= form_for :character, url: characters_path do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :race %><br>
      <%= f.select :race, ['', 'Dragonborn', 'Drawf', 'Elf', 'Gnome', 'Halfling']%>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>