<p id="notice"><%= notice %></p>
<h2>Character</h2>
<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Alignment:</strong>
  <%= @character.alignment %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @character.experience %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %>

<h2>Stats</h2>


<% if !@character.stats.exists? %>
    <% stat = @character.stats.new %>
    <%= link_to 'New Stat', new_character_stat_path(stat.character, stat) %><br>
<% else %>
    <% @character.stats.each do |stat| %>
        <table>
          <thead>
          <tr>
            <th>Attribute</th>
            <th>Value</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>Strength</td>
            <td><%= stat.strength %></td>
          </tr>
          <tr>
            <td>Dexterity</td>
            <td><%= stat.dexterity %></td>
          </tr>
          <tr>
            <td>Constitution</td>
            <td><%= stat.constitution %></td>
          </tr>
          <tr>
            <td>Intelligence</td>
            <td><%= stat.intelligence %></td>
          </tr>
          <tr>
            <td>Wisdom</td>
            <td><%= stat.wisdom %></td>
          </tr>
          <tr>
            <td>Charisma</td>
            <td><%= stat.charisma %></td>
          </tr>
          <td><%= link_to 'Edit', edit_character_stat_path(stat.character, stat) %></td>
          <!-- <td><#%= link_to 'Show', [stat.character, stat] %></td> -->
          <!-- <td><#%= link_to 'Destroy', [stat.character, stat], method: :delete, data: {confirm: 'Are you sure?'} %></td> -->
          </tbody>
        </table>
    <% end %>
<% end %>

<%= link_to 'Back', characters_path %>


