<p>
  <strong>Str:</strong>
  <%= stat.strength %>
</p>
<p>
  <strong>Dex:</strong>
  <%= stat.dexterity %>
</p>
<p>
  <strong>Const:</strong>
  <%= stat.constitution %>
</p>
<p>
  <strong>Int:</strong>
  <%= stat.intelligence %>
</p>
<p>
  <strong>Wis:</strong>
  <%= stat.wisdom %>
</p>
<p>
  <strong>Char:</strong>
  <%= stat.charisma %>
</p>

<p>
  <%= link_to 'Edit Stats', edit_character_stat_path(@character, stat) %>
  <%= link_to 'Delete Stats', [stat.character, stat],
              method: :delete,
              data: {confirm: 'Are you sure?'} %>
</p>